<html lang="en">

<head>
    <link rel="stylesheet" href="index.css">
    <title> Email Template with Ejs </title>
</head>

<body>
    <%- include('Header'); %>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="v-text-align">
                    <img src="https://cdn.templates.unlayer.com/assets/1637506949936-sdds.png" alt="Hero Image"
                        title="Hero Image" class="v-src-width v-src-max-width" />
                </td>
            </tr>
        </table>

        <h1 class="v-text-align"
            style="margin: 0px; color: #776e43; line-height: 140%; text-align: center; word-wrap: break-word; font-weight: normal; font-family: 'Rubik',sans-serif; font-size: 26px;">
            Congrats! You Did It!
        </h1>
        <p style="font-size: 14px;padding: 20px; line-height: 190%;">Lorem
            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="v-text-align" align="center">
            <button class="confirm">
                Confirm Your Email
            </button>
        </div>
        <%- include('Footer'); %>
</body>

</html>